[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchtext = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
transformers = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.10"
